/* 
   Final Project 
   highScores.css
   Goes with highScores.php
 */
body 
{
	font-family: 'Schoolbell';
	color: white;
	font-size: 130%;
}

.body
{
    width: 1200px;
    margin: 0 auto;
    padding: 1em;
	padding-bottom: 30px;
    background-image: url("chalkboard.jpg");
    border: 5px solid black;
}

h2
{
	text-align: center;
}

h1
{
	text-align: center;
}

table
{
	margin-left:auto; 
    margin-right:auto;
}

td
{
	padding-left: 10px;
	padding-right: 10px;
}

p
{
	text-align: center;
	padding-bottom: 0px;
}

header
{
	text-shadow: 2px 2px black;
	text-align: center;
	height: 50px;
	font-size: 35px;
	font-weight: bold;
	padding-top: 0;
    width: 100%;
    color: white;
    opacity: 0.95;
}

form
{
	text-align: center;
}

.button 
{
  padding-top: 10px;
  background-color: #FFD700;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  font-family: arial;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
